@font-face { font-family: Rubik; 
    src: url('./assets/font/static/Rubik-Regular.ttf');
    font-weight: 300;
 }

 *{
     padding: 0;
     margin: 0;
 }
 html{
     height: 100%;
 }
body{
    font-family: rubik;
    background-color: black;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    /* display: flex;
    flex-direction: column; */
}
.grid-container {
    
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px);
    justify-content: center;
    align-items: center;
    color: #fff;
   
  }
  .grid-container > div {
    font-size: 18px;
  }
  
main{
   
     display:grid ;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
   
   
    
}
.profile{
    display: grid;
    grid-row: 1/3;
    
}
.profile-box{
        background: hsl(246, 80%, 60%);
        grid-row: 1 /3  ;     
        z-index: 2;
        border-radius: 8%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 16px;
    }
    
    .image-text{
        font-size: small;
    }

.profileImg{
    margin:16px 8px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid white;
    
}
.select-area{
    grid-row: 4/ 2;
    border-radius: 8%;
    background: hsl(235, 46%, 20%);
    height: 150px;
    padding-top:140px;
   
}

.select-area , .profile-box{
    grid-column: 1 / 2;
}
.list-Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
   

}
.list-Box a{
    color: #fff;
    text-decoration: none;
    
}
.list-Box li{
    margin: 8px 0;
}
.work-div{
    display: grid;
    grid-row: 1/2;
    
}
.work-icon{
    background:hsl(15, 100%, 70%) ;
    display: flex;
    justify-content: flex-end;
    border-radius: 8%;
    height:100px;
    grid-row: 1 /3;
    padding-right: 8px;
}
.work-box{
    grid-row: 4/2 ;
    background: hsl(235, 46%, 20%);
    height: 150px;
    border-radius: 8%;
    z-index: 2;
}

.work-icon , .work-box{
    grid-column: 1 / 2;
}
.all-content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
     
}
.all-content-body{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    font-size: xx-large;
    font-weight: 500;
    
 
}
.previous{
    margin-top: 16px;
    font-size: x-small;
    
}
.play-div{
    display: grid;
    
}
.game-icon{
    background:hsl(195, 74%, 62%) ;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    border-radius: 8%;
    grid-row: 1 /3;
}
.game-box{
    grid-row: 4 / 2 ;
    background: hsl(235, 46%, 20%);
    height: 150px;
    border-radius: 8%;
    z-index: 2;

   
}
.game-icon , .game-box{
    grid-column: 2/1;
}
.study-div{
    display: grid;
}
.study-icon{
    background: hsl(348, 100%, 68%) ;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    border-radius: 8%;
    grid-row: 1 /3;
}
.study-box{
    background: hsl(235, 46%, 20%);
    height: 150px;
    border-radius: 8%;
    grid-row: 4 / 2 ;
    z-index: 3;
}
.study-icon , .study-box{
    grid-column: 3/1;
}
.exercise-div{
    display: grid;
}
.exercise-icon{
    background: hsl(145, 58%, 55%);
    display: flex;
    justify-content: flex-end;
    height: 100px;
    border-radius: 8%;
    grid-row: 1/3;
}
.exercise-box{
    grid-row: 4/2 ;
    background: hsl(235, 46%, 20%);
    height: 150px;
    border-radius: 8%;
    z-index: 4;

}
.exercise-icon , .exercise-box{
    grid-column: 2/1;
}
.social-div{
    display: grid;
}
.social-icon{
    background: hsl(264, 64%, 52%);
    display: flex;
    justify-content: flex-end;
    height: 100px;
    border-radius: 8%;
    grid-row: 1/3;
}
.social-box{
    grid-row: 4/2 ;
    background: hsl(235, 46%, 20%);
    height: 150px;
    border-radius: 8%;
    z-index: 3;
}
.social-box , .social-icon{
    grid-column: 2/1;
}
.self-div{
    display: grid;
}
.self-care-icon
{
    background: hsl(43, 84%, 65%);
    display: flex;
    justify-content: flex-end;
    height: 100px;
    border-radius: 8%;
    grid-row: 1/3;
}
.self-care-box{
    grid-row: 4/2 ;
    background: hsl(235, 46%, 20%);
    height: 150px;
    border-radius: 8%;
}
.self-care-box , .self-care-icon{
    grid-column: 2/1;
}
@media screen and (max-width: 768px) {
    
    .grid-container {
        display: inline;
        justify-content: center;
        align-items: center;
        width: 70%;
        color: #fff;      
      }
      .select-area{
          height: 70px;
      }
      .list-Box{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          
      }
      
      .list-Box a{
      
        margin: 0 10px;
        
    }
    .grid-items{
        margin: 10px
    }   
    .all-content-body{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
      }
     
     
