@font-face { font-family: Rubik; 
    src: url('./assets/font/static/Rubik-Regular.ttf');
    font-weight: 300;
 }

 *{
     padding: 0;
     margin: 0;
 }
body{
    font-family: rubik;
    background-color: black;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    /* display: flex;
    flex-direction: column; */
}
.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    align-items: center;
    color: #fff;
   
  }
  .grid-container > div {
    font-size: 18px;
  }
main{
   
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    width: 100vw;
    
    
}
.profile-box{
        background: hsl(246, 80%, 60%);
        grid-row: -2 /3  ;   
        z-index: 1;
        border-radius: 8%;
        height: 250px;
        
        
       
    }
    .under-Image{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 16px;
        
    }
    .image-text{
        font-size: small;
    }

.profileImg{
    margin:8px 8px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid white;
    
}
.select-area{
    grid-row: 1 / 5;
    border-radius: 8%;
    background: hsl(235, 46%, 20%);
    height: 150px;
    padding-top:150px;
   
}

.select-area , .profile-box{
    grid-column: 1 / 2;
}
.list-Box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
   

}
.list-Box a{
    color: #fff;
    text-decoration: none;
    
}
.list-Box li{
    margin: 8px 0;
}
.work-icon{
    background:hsl(15, 100%, 70%) ;
    display: flex;
    justify-content: flex-end;
    border-radius: 8%;
    height:100px;
    grid-row: 1 /-2;
    padding-right: 8px;
}
.work-box{
    grid-row: 3 / -2 ;
    background: hsl(235, 46%, 20%);
    height: 150px;
    border-radius: 8%;
    z-index: 3;
}

.work-icon , .work-box{
    grid-column: 2 / 3;
}
.all-content-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
     
}

.game-icon{
    background:hsl(195, 74%, 62%) ;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    border-radius: 8%;
    grid-row: 1 /-2;
}
.game-box{
    grid-row: 3 / -2 ;
    background: hsl(235, 46%, 20%);
    height: 150px;
    border-radius: 8%;
   
}
.game-icon , .game-box{
    grid-column: 3/3;
}
.study-icon{
    background: hsl(348, 100%, 68%) ;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    border-radius: 8%;
    grid-row: 1 /-2;
}
.study-box{
    grid-row: 3 / -2 ;
    background: hsl(235, 46%, 20%);
    height: 150px;
    border-radius: 8%;
}
.study-icon , .study-box{
    grid-column: 4/5;
}
.exercise-icon{
    background: hsl(145, 58%, 55%);
    display: flex;
    justify-content: flex-end;
    height: 100px;
    border-radius: 8%;
    grid-row: 4/2;
}
.exercise-box{
    grid-row: 5/3 ;
    background: hsl(235, 46%, 20%);
    height: 150px;
    border-radius: 8%;

}
.exercise-icon , .exercise-box{
    grid-column: 2/2;
}
.social-icon{
    background: hsl(264, 64%, 52%);
    display: flex;
    justify-content: flex-end;
    height: 100px;
    border-radius: 8%;
    grid-row: 4/2;
}
.social-box{
    grid-row: 5/3 ;
    background: hsl(235, 46%, 20%);
    height: 150px;
    border-radius: 8%;
}
.social-box , .social-icon{
    grid-column: 3/3;
}
.self-care-icon
{
    background: hsl(43, 84%, 65%);
    display: flex;
    justify-content: flex-end;
    height: 100px;
    border-radius: 8%;
    grid-row: 4/2;
}
.self-care-box{
    grid-row: 5/3 ;
    background: hsl(235, 46%, 20%);
    height: 150px;
    border-radius: 8%;
}
.self-care-box , .self-care-icon{
    grid-column: 4/4;
}
@media screen and (max-width: 768px) {
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 400px);
        justify-content: center;
        align-items: center;
        color: #fff;
        margin: 13px;
       
      }
      main{
          display: block;
      }
      .list-Box{
        margin-top: 20px;
      }
}