@font-face { font-family: Rubik; 
    src: url('./assets/font/static/Rubik-Regular.ttf');
    font-weight: 300;
 }

 *{
     padding: 0;
     margin: 0;
 }
body{
    font-family: rubik;
    background-color: black;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    /* display: flex;
    flex-direction: column; */
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    justify-content: center;
    align-items: center;
    color: #fff;
   
  }
  .grid-container > div {
    font-size: 18px;
  }
main{
   
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    width: 100vw;
    
    
}
.item1{
        background: hsl(246, 80%, 60%);
        grid-row: 1 /3  ;   
        z-index: 1;
        border-radius: 8%;
        height: 200px;
        
       
    }
    span{
        font-size: small;
        margin-left: 8px;
    }
    h2{
        margin: 4px 50px;
    }

.profileImg{
    /* display: flex; */
    /* justify-content: flex-start; */
    margin:8px 5px;
    width: 60px;
    border-radius: 50%;
    border: 3px solid white;
    
}
.selectDailyMonthlyWeekly{
    grid-row: 1 / 5;
    border-radius: 8%;
    background: hsl(235, 46%, 20%);
    height: 150px;
    padding-top:200px;
   
}

.selectDailyMonthlyWeekly , .item1{
    grid-column: 1 / 2;
}
.dailyBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0px;

}
.dailyBox a{
    color: #fff;
    text-decoration: none;
    
}
.dailyBox li{
    margin: 8px 0;
}

@media screen and (max-width: 768px) {
    
    main{
        display: flex;
        
        align-items: center;
        justify-content: flex-start;
        /* height: 100vh; */
        margin-left: 16px;
    }
    
}